<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='wknd.destaque'}"/>
<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Destaque"/>
<sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"/>

<sly data-sly-test.hasContent="${model.title || model.text}"/>
<sly data-sly-test="${!hasContent}" data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>

<section class="cmp-destaque cmp-destaque--align-${model.alignment}" data-sly-test="${hasContent}">
    <h2 class="cmp-destaque__title" data-sly-test="${model.title}">${model.title}</h2>
    
    <p class="cmp-destaque__text" data-sly-test="${model.text}">${model.text}</p>
    
    <a class="cmp-destaque__button" 
       href="${model.buttonUrl}" 
       data-sly-test="${model.mostrarBotao}">${model.buttonText}</a>
</section>
